
main {
    padding: 1em 4em 0em 4em;
}

.title-content {
    margin-left: 1em;
}

.box-container {
    display: flex;
    flex-direction: column;

    /* border: 1px solid yellow; */
    /* border-radius: 20px; */

    /* min-height: 100px; */
    gap: 1em;
}

.box {
    background-color: rgb(35, 47, 81);
    border-radius: 20px;
    display:flex;
    flex-direction: row;

    border: 1px solid rgb(107, 114, 134);

    padding: 1em;
    gap: 1em;
}
.box-number {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(59, 73, 111);
    border-radius: 20px;
    min-width: 60px;
    max-height: 60px;
    font-size:2em;   
}

.box-content {
    display:flex;
    flex-direction: column;
}
