
/*      INDEX.HTMl      */
* {
    font-family:Arial, Helvetica, sans-serif
}

body {
    margin: 0px;
    background-color: rgb(31, 31, 75);

    color: aliceblue;

}

/*      NAVIGATION BAR     */
.ball {
    background-color: rgb(125, 186, 255);
    width: 12px;
    height: 12px;
    border-radius: 50px;
    border: 2px solid rgb(43, 149, 242);
}

.navbar {
    
    display: flex;
    flex-wrap: wrap;
    /* height: 2em; */
    padding: 20px 20px 20px 20px;
    background-color: rgb(22, 22, 46);
    justify-content: center;
    align-items: center;
    font-size: 1.2em;

    gap: 10px;
}



.navbar span {
    /* font-weight: bold; */
    margin-right: auto;
}

/* links */
.navbar a{
    color: rgb(211, 218, 223);
    text-decoration: none;

    background-color: rgb(22, 22, 46);
    padding: 15px;
    /* border: 2px solid black; */
    border-radius: 60px;    
}

.navbar a:hover{
    background-color: rgb(31, 31, 86);
    color: aliceblue;
}

/* MAIN */
main {
    min-height: 100vh;    
}

/* FOOTER */

footer {
    background-color: rgb(22, 22, 46);
    color: rgb(195, 202, 208);

    border-top: 0.5px solid rgb(123, 123, 151);
    padding: 50px;
    
}